@charset "utf-8";

/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* mobile ---------------------- */

@media only screen and (max-width: 790px) {
    p {
        color: hsla(0, 0%, 100%, 0.75);
        font-family: 'Lexend Deca', sans-serif;
        padding: 0 20px 60px 0;
        font-size: 15px;
    }
    h2 {
        color: hsl(0, 0%, 95%);
        font-family: 'Big Shoulders Display', cursive;
        font-size: 2rem;
        padding: 0 0 30px 0;
    }
    button {
        font-family: 'Lexend Deca', sans-serif;
        background-color: hsl(0, 0%, 95%);
        border-radius: 25px;
        border: 2px solid hsl(0, 0%, 95%);
        padding: 10px 20px;
    }
    button:hover {
        color: hsl(0, 0%, 95%);
        background-color: hsla(0, 0%, 95%, 0.00);
    }
    article {
        max-width: 350px;
        padding: 50px 60px;
    }
    img {
        padding: 0 0 30px 0;
    }
    article:first-of-type {
        border-radius: 10px 10px 0 0;
    }
    article:last-of-type {
        border-radius: 0 0 10px 10px;
    }
    .wrapper_all {
        max-width: 100vw;
        height: 100vh;
        margin: auto;
    }
    .wrapper_cards {
        max-width: 350px;
        margin: auto;
        padding: 200px 0;
    }
    .flex {
        display: flex;
        flex-direction: column;
    }
    .bg_gray {
        background-color: hsl(0, 0%, 95%);
    }
    .bg_orange {
        background-color: hsl(31, 77%, 52%);
    }
    .bg_cyan {
        background-color: hsl(184, 100%, 22%);
    }
    .bg_dcyan {
        background-color: hsl(179, 100%, 13%);
    }
    .orange {
        color: hsl(31, 77%, 52%);
    }
    .cyan {
        color: hsl(184, 100%, 22%);
    }
    .dcyan {
        color: hsl(179, 100%, 13%);
    }
}


/* desktop ---------------------- */

@media only screen and (min-width: 791px) and (max-width: 3000px) {
    p {
        color: hsla(0, 0%, 100%, 0.75);
        font-family: 'Lexend Deca', sans-serif;
        padding: 0 20px 60px 0;
        font-size: 15px;
    }
    h2 {
        color: hsl(0, 0%, 95%);
        font-family: 'Big Shoulders Display', cursive;
        font-size: 2rem;
        padding: 0 0 30px 0;
    }
    button {
        font-family: 'Lexend Deca', sans-serif;
        background-color: hsl(0, 0%, 95%);
        border-radius: 25px;
        border: 2px solid hsl(0, 0%, 95%);
        padding: 10px 20px;
    }
    button:hover {
        color: hsl(0, 0%, 95%);
        background-color: hsla(0, 0%, 95%, 0.00);
    }
    article {
        max-width: 350px;
        padding: 50px 60px;
    }
    img {
        padding: 0 0 30px 0;
    }
    article:first-of-type {
        border-radius: 10px 0 0 10px;
    }
    article:last-of-type {
        border-radius: 0 10px 10px 0;
    }
    .wrapper_all {
        max-width: 100vw;
        height: 100vh;
        margin: auto;
    }
    .wrapper_cards {
        max-width: 1050px;
        margin: auto;
        padding: 200px 0;
    }
    .flex {
        display: flex;
    }
    .bg_gray {
        background-color: hsl(0, 0%, 95%);
    }
    .bg_orange {
        background-color: hsl(31, 77%, 52%);
    }
    .bg_cyan {
        background-color: hsl(184, 100%, 22%);
    }
    .bg_dcyan {
        background-color: hsl(179, 100%, 13%);
    }
    .orange {
        color: hsl(31, 77%, 52%);
    }
    .cyan {
        color: hsl(184, 100%, 22%);
    }
    .dcyan {
        color: hsl(179, 100%, 13%);
    }
}